.has-bottom-nav {
    padding-bottom: 56px !important;
}

.list-bg {
    background: #f1f5f8;
}

/* Position */
.absolute { position: absolute !important;	}
.relative { position: relative !important; }

/* Min width/height */
.min-w-0 { min-width: 0 !important; }
.min-w-full { min-width: 100% !important; }
.min-h-0 { min-height: 0 !important; }
.min-h-full { min-height: 100% !important; }

/* Don't retain 'active' state on click, e.g. card */
.no-focus-on-click:focus:before {
    opacity: 0 !important;
}

/* Snack (toast) */
.v-snack {
    /* HACK - assume always bottom nav, move toasts up */
    margin-bottom: 62px;
    transition: bottom 400ms;
}
.v-snack:not(.v-snack--absolute) {
    z-index: 201;   /* under action sheet (v-dialog=202) */
}

/* Badges */
button ~ .v-badge__wrapper > .v-badge__badge {
    pointer-events: none;
}

/* Banner */
.v-banner:not(.v-banner--single-line) .v-banner__actions {
    padding-right: 12px;
}
.v-banner.v-banner--single-line .v-banner__actions {
    margin-left: 8px !important;   /* reduce default margin */
}

/* Dialog: full-height */
.v-dialog.full-height {
    border-radius: 0;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: unset;
    width: unset;
}
.v-dialog.full-height > .v-card {
    min-height: 100%;
    min-width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.v-dialog .v-card .v-card__title {
    word-break: break-word;
}

/* Form input fix: move label to left */
.v-text-field .v-label {
    left: 0 !important;
    right: unset;
}

/* Labels */
label.section-label {
    color: var(--v-grey-darken1);
    font-size: .8rem!important;
 }

/* Top nav button spacing */
.v-app-bar .v-card__actions > * ~ * {
    margin-left: 15px;
}

/* Override default bottom nav styling */
.theme--light.v-item-group.v-bottom-navigation .v-btn {
    border-top: thin solid rgba(0, 0, 0, 0.12);
}

/* Vuetify bug: bottom nav styling not cascading correctly? */ 
.v-item-group.v-bottom-navigation .v-btn {
    height: inherit !important;
    min-width: 80px !important;
    background-color: transparent;
}

/* Useful helpers */
.cursor-pointer {
    cursor: pointer;
}
